In [10]:
import pandas as pd

In [15]:
weekly_menu = pd.read_csv('SSN00015A_202107.csv', encoding = 'euc-kr')

In [18]:
# 메뉴 리스트
menu_list = ['분식', '중식', '카페/패스트푸드', '편의점', '한식', '일식', '동남아', '양식']

In [16]:
weekly_menu

,STD_YM,CTPV_CD,CTGG_CD,DAY_CD,INDTY_CGR_NM,CTPV_NM,CTGG_NM,RANK,VST_RAT
0,201907,11,11110,1,분식,서울특별시,종로구,4,8.41
1,201907,11,11110,1,중식,서울특별시,종로구,3,8.67
2,201907,11,11110,1,카페/패스트푸드,서울특별시,종로구,2,29.02
3,201907,11,11110,1,편의점,서울특별시,종로구,5,7.31
4,201907,11,11110,1,한식,서울특별시,종로구,1,38.62
...,...,...,...,...,...,...,...,...,...
36890,202107,50,50130,2,한식,제주특별자치도,서귀포시,1,50.00
36891,202107,50,50130,3,카페/패스트푸드,제주특별자치도,서귀포시,1,100.00
36892,202107,50,50130,4,카페/패스트푸드,제주특별자치도,서귀포시,1,100.00
36893,202107,50,50130,5,카페/패스트푸드,제주특별자치도,서귀포시,1,100.00
36894,202107,50,50130,6,한식,제주특별자치도,서귀포시,1,100.00

In [22]:
weekly_menu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36895 entries, 0 to 36894
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STD_YM        36895 non-null  int64
 1   CTPV_CD       36895 non-null  int64
 2   CTGG_CD       36895 non-null  int64
 3   DAY_CD        36895 non-null  int64
 4   INDTY_CGR_NM  36895 non-null  object
 5   CTPV_NM       36895 non-null  object
 6   CTGG_NM       36815 non-null  object
 7   RANK          36895 non-null  int64
 8   VST_RAT       36895 non-null  float64
dtypes: float64(1), int64(5), object(3)
memory usage: 2.5+ MB

In [27]:
# 결측치 확인
weekly_menu.isnull().sum()

STD_YM           0
CTPV_CD          0
CTGG_CD          0
DAY_CD           0
INDTY_CGR_NM     0
CTPV_NM          0
CTGG_NM         80
RANK             0
VST_RAT          0
dtype: int64

In [34]:
weekly_menu[weekly_menu.isnull().values]

,STD_YM,CTPV_CD,CTGG_CD,DAY_CD,INDTY_CGR_NM,CTPV_NM,CTGG_NM,RANK,VST_RAT
15020,202006,36,36110,4,한식,세종특별자치시,NaN,1,100.00
15021,202006,36,36110,5,한식,세종특별자치시,NaN,1,100.00
16457,202007,36,36110,2,한식,세종특별자치시,NaN,1,100.00
17926,202008,36,36110,1,한식,세종특별자치시,NaN,1,100.00
17927,202008,36,36110,2,한식,세종특별자치시,NaN,1,100.00
...,...,...,...,...,...,...,...,...,...
36028,202107,36,36110,4,한식,세종특별자치시,NaN,2,26.09
36029,202107,36,36110,5,중식,세종특별자치시,NaN,2,50.00
36030,202107,36,36110,5,한식,세종특별자치시,NaN,1,50.00
36031,202107,36,36110,6,중식,세종특별자치시,NaN,1,63.64
36032,202107,36,36110,6,한식,세종특별자치시,NaN,2,36.36

In [37]:
weekly_menu.dropna(inplace=True)

In [44]:
weekly_menu['VST_RAT'].describe()

count    36815.000000
mean        29.989450
std         30.151699
min          0.040000
25%          5.525000
50%         17.990000
75%         47.015000
max        100.000000
Name: VST_RAT, dtype: float64

In [47]:
# 이상치 제거
len(weekly_menu[weekly_menu['VST_RAT'] == 100.00]['CTGG_NM'].values) # 개수 확인

2710

In [51]:
weekly_menu['VST_RAT'] == 100.00

0        False
1        False
2        False
3        False
4        False
         ...
36890    False
36891     True
36892     True
36893     True
36894     True
Name: VST_RAT, Length: 36815, dtype: bool

In [68]:
q3 = weekly_menu['VST_RAT'].quantile(0.75) # df['국어'].quantile(0.75) 처럼 특정 열만 적용 가능
q1 = weekly_menu['VST_RAT'].quantile(0.25)
iqr = q3 - q1
q1, q3, iqr

(5.525, 47.015, 41.49)

In [76]:
def outlier(weekly_menu):
    if (weekly_menu['VST_RAT'] > (q3 + 1.5 * iqr)) or (weekly_menu['VST_RAT'] < (q1 - 1.5 * iqr)):
        return True
    else:
        return False
import numpy as np
weekly_menu['이상치여부'] = np.where(((weekly_menu['VST_RAT'] > (q3 + 1.5 * iqr)) | (weekly_menu['VST_RAT'] < (q1 - 1.5 * iqr))), True, False)

In [87]:
weekly_menu['이상치여부'] = weekly_menu['VST_RAT'] == 100.00

In [89]:
weekly_menu['이상치여부'].value_counts()

False    34105
True      2710
Name: 이상치여부, dtype: int64

In [90]:
# 이상치 제거 후 확인
new_w_m = weekly_menu.loc[weekly_menu['이상치여부'] == False]
del new_w_m['이상치여부']

In [91]:
new_w_m

,STD_YM,CTPV_CD,CTGG_CD,DAY_CD,INDTY_CGR_NM,CTPV_NM,CTGG_NM,RANK,VST_RAT
0,201907,11,11110,1,분식,서울특별시,종로구,4,8.41
1,201907,11,11110,1,중식,서울특별시,종로구,3,8.67
2,201907,11,11110,1,카페/패스트푸드,서울특별시,종로구,2,29.02
3,201907,11,11110,1,편의점,서울특별시,종로구,5,7.31
4,201907,11,11110,1,한식,서울특별시,종로구,1,38.62
...,...,...,...,...,...,...,...,...,...
36886,202107,50,50110,7,한식,제주특별자치도,제주시,2,40.85
36887,202107,50,50130,1,카페/패스트푸드,제주특별자치도,서귀포시,1,75.00
36888,202107,50,50130,1,한식,제주특별자치도,서귀포시,2,25.00
36889,202107,50,50130,2,카페/패스트푸드,제주특별자치도,서귀포시,2,50.00
36890,202107,50,50130,2,한식,제주특별자치도,서귀포시,1,50.00

In [97]:
# 필요한 데이터만 뽑아내기
new_w_m = new_w_m[['DAY_CD', 'INDTY_CGR_NM', 'RANK']]

In [101]:
new_w_m.columns = ['날짜', '메뉴', '순위'] # 컬럼 바꾸기

In [103]:
new_w_m # 확인

       날짜        메뉴  순위
0       1        분식   4
1       1        중식   3
2       1  카페/패스트푸드   2
3       1       편의점   5
4       1        한식   1
...    ..       ...  ..
36886   7        한식   2
36887   1  카페/패스트푸드   1
36888   1        한식   2
36889   2  카페/패스트푸드   2
36890   2        한식   1

[34105 rows x 3 columns]

In [111]:
# 순위 뒤집기 평균 계산을 위해서
new_w_m['순위'] = 6 - new_w_m['순위']
new_w_m

C:\Users\C4022\AppData\Local\Temp/ipykernel_7500/3341914267.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_w_m['순위'] = 6 - new_w_m['순위']

       날짜        메뉴  순위
0       1        분식   2
1       1        중식   3
2       1  카페/패스트푸드   4
3       1       편의점   1
4       1        한식   5
...    ..       ...  ..
36886   7        한식   4
36887   1  카페/패스트푸드   5
36888   1        한식   4
36889   2  카페/패스트푸드   4
36890   2        한식   5

[34105 rows x 3 columns]

In [130]:
new_w_m = new_w_m.groupby(['날짜','메뉴'])['순위'].mean().reset_index()
new_w_m

    날짜        메뉴        순위
0    1       동남아  1.596154
1    1        분식  2.389251
2    1        양식  1.864000
3    1        일식  1.989496
4    1        중식  2.491323
5    1  카페/패스트푸드  3.988403
6    1       편의점  2.844017
7    1        한식  4.724026
8    2       동남아  1.857143
9    2        분식  2.373183
10   2        양식  1.914179
11   2        일식  1.951681
12   2        중식  2.558761
13   2  카페/패스트푸드  4.022462
14   2       편의점  2.816810
15   2        한식  4.703431
16   3       동남아  1.474576
17   3        분식  2.376026
18   3        양식  1.900735
19   3        일식  1.967811
20   3        중식  2.581420
21   3  카페/패스트푸드  4.045495
22   3       편의점  2.776596
23   3        한식  4.676375
24   4       동남아  1.617021
25   4        분식  2.327922
26   4        양식  1.875000
27   4        일식  1.968487
28   4        중식  2.578174
29   4  카페/패스트푸드  4.045086
30   4       편의점  2.795699
31   4        한식  4.683565
32   5       동남아  1.648148
33   5        분식  2.353923
34   5        양식  1.884058
35   5        일식  1.928105
36   5        중식  2.618852
37   5  카페/패스트푸드  4.089526
38   5       편의점  2.790254
39   5        한식  4.649435
40   6       동남아  1.650794
41   6        분식  2.636535
42   6        양식  1.913636
43   6        일식  2.003226
44   6        중식  2.684278
45   6  카페/패스트푸드  4.018357
46   6       편의점  3.370813
47   6        한식  4.423913
48   7       동남아  1.441558
49   7        분식  2.535620
50   7        양식  1.933054
51   7        일식  2.244444
52   7        중식  2.846400
53   7  카페/패스트푸드  4.144105
54   7       편의점  3.557641
55   7        한식  4.228877

In [138]:
new_w_m.sort_values(['날짜','순위'], ascending=False)

    날짜        메뉴        순위
55   7        한식  4.228877
53   7  카페/패스트푸드  4.144105
54   7       편의점  3.557641
52   7        중식  2.846400
49   7        분식  2.535620
51   7        일식  2.244444
50   7        양식  1.933054
48   7       동남아  1.441558
47   6        한식  4.423913
45   6  카페/패스트푸드  4.018357
46   6       편의점  3.370813
44   6        중식  2.684278
41   6        분식  2.636535
43   6        일식  2.003226
42   6        양식  1.913636
40   6       동남아  1.650794
39   5        한식  4.649435
37   5  카페/패스트푸드  4.089526
38   5       편의점  2.790254
36   5        중식  2.618852
33   5        분식  2.353923
35   5        일식  1.928105
34   5        양식  1.884058
32   5       동남아  1.648148
31   4        한식  4.683565
29   4  카페/패스트푸드  4.045086
30   4       편의점  2.795699
28   4        중식  2.578174
25   4        분식  2.327922
27   4        일식  1.968487
26   4        양식  1.875000
24   4       동남아  1.617021
23   3        한식  4.676375
21   3  카페/패스트푸드  4.045495
22   3       편의점  2.776596
20   3        중식  2.581420
17   3        분식  2.376026
19   3        일식  1.967811
18   3        양식  1.900735
16   3       동남아  1.474576
15   2        한식  4.703431
13   2  카페/패스트푸드  4.022462
14   2       편의점  2.816810
12   2        중식  2.558761
9    2        분식  2.373183
11   2        일식  1.951681
10   2        양식  1.914179
8    2       동남아  1.857143
7    1        한식  4.724026
5    1  카페/패스트푸드  3.988403
6    1       편의점  2.844017
4    1        중식  2.491323
1    1        분식  2.389251
3    1        일식  1.989496
2    1        양식  1.864000
0    1       동남아  1.596154

In [139]:
new_w_m.to_csv('일별 메뉴 순위', encoding = 'utf-8')